{% extends 'base.html.twig' %}

{% block title %}New Revision{% endblock %}

{% block body %}
    <h1>Create new Revision</h1>

    {{ include('revision/_form.html.twig') }}

    <a href="{{ path('revision_index') }}">back to list</a>
{% endblock %}
